 div.dataTables_length {
    padding-left: 2em;
}
div.dataTables_length, div.dataTables_filter {
        padding-top: 0.55em;
}
.custum-x-editable{
	width: 240px;
}
div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
}
.toggle-vis{
	cursor:pointer;
}
.toggle-vis-hide{
	color: red;
}

.col-custum{
	padding-left: 5px;
	padding-right: 5px;
}
.dataTables_processing{
	z-index: 999;
}
.tab_height_box{
	max-height: 200px ;
	overflow: auto;
}
.old-value{
	text-decoration:line-through;
	color: red;
}
.new-value{
	color: #3c8dbc;
}
.foucus-value{
	font-size: 18px;
}
.name_edit_able{
	font-size: 17px;
}
.dataTables_scrollBody{
	overflow: visible !important;
}
@media print {
  a[href]:after {
    content: none !important;
  }
}
@media print {
    .price_match_no_print {
        display:none !important;
    }
    .hide_border_print {
   	 border-bottom: dashed 0px #0088cc !important;
	}
	.table-bordered thead tr th, .table-bordered tbody tr th, .table-bordered tfoot tr th, .table-bordered thead tr td, .table-bordered tbody tr td, .table-bordered tfoot tr td {
    border: 1px solid #333 !important;
	}
	.red_color_print{
		color: red !important;
	}
	.blue_color_print{
		color: blue !important;
	}
	.hr_red_color_print{
		border-top: 1px solid red !important;
    	border-bottom: 2px solid red !important;
    	height: 2px !important;
	}
	.header_print{
		display: block !important;
	}
	.lable_value_print{
		text-align: left !important;
		    padding-left: 0px !important;
	}
	.lable_print{
			text-align: right !important;
		    padding-right: 0px !important;
	}
	title { display: none !important; }
}